<section>
  <div class="container login">
    <div class="praxio-encomendas">
      <mat-icon svgIcon="logo-praxio"></mat-icon>
      <h1 translate>APP</h1>
    </div>

    <px-button (click)="signinRedirect()" pxImpact pxSize="lg">{{ 'ENTRAR' | translate }}</px-button>

    <!-- <button (click)="signinRedirect()">
      Signin Redirect
    </button>

    <button (click)="signoutRedirect()">
      Signout
    </button>

    <button (click)="checkUserInfo()">Check userInfo</button>

    <pre>{{identity$ | async | json}}</pre> -->

    <!-- <app-login-passo1 *ngIf="!usuario"></app-login-passo1>
    <app-login-passo2 *ngIf="usuario" [usuario]="usuario"></app-login-passo2> -->
  </div>
  <h2 translate>SITE</h2>
</section>
